<div class="fundo-cadastro">
  <main class="container">
    <form>
      <img src="/logo.png" alt="Logo" class="logo">


      <div class="input-box">
        <label>Email</label>
        <input #email placeholder="e-mail" type="email">
      </div>

      <div class="input-box">
        <label>Senha</label>
        <input #senha placeholder="senha" type="password">
      </div>

      <div class="input-box">
        <label>Confirme a Senha</label>
        <input #confirmaSenha placeholder="senha" type="password">
      </div>

      @if (errorMessage()) {
      <p class="error-msg">
        {{ errorMessage() }}
      </p>
      }

      <button type="button" class="cadastro" (click)="onRegister(email.value, senha.value, confirmaSenha.value)">Criar
        Conta</button>

      <div class="login-link">
        <p>Já tem uma conta? <a routerLink="/">Fazer Login</a></p>
      </div>
    </form>
  </main>
</div>