<body>
    <main class="container">
  <form>
    <img src="../../../public/logo.png" alt="Logo" class="logo">

    <div class="input-box">
      <input placeholder="E-mail" type="email">
    </div>

    <div class="input-box">
      <input placeholder="Criar Senha" type="password">
    </div>

        <div class="input-box">
      <input placeholder="Confirme a senha" type="password">
    </div>

    <button type="submit" class="cadastro">Criar Conta</button>

    <div class="login-link">
      <p>Já tem uma conta? <a routerLink="/">Fazer Login</a></p>
    </div>
  </form>
</main>
</body>