<div class="fundo-login">
  <main class="container">
    <form>
      <img src="/logo.png" alt="Logo" class="logo">
        <div class="input-box">
          <label>Email</label>
          <input placeholder="Máscara de e-mail" type="email">
        </div>
        <div class="input-box">
          <label>Senha</label>
          <input placeholder="Máscara de senha" type="password">
        </div>

        <button type="submit" class="login">Login</button>

        <div class="register-link">
          <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        </div>
    </form>
  </main>
</div>