<div class="fundo-login">
  <main class="container">
    <form>
      <img src="/logo.png" alt="Logo" class="logo">
      <div class="input-box">
        <label>Email</label>
        <input #email placeholder="e-mail" type="email">
      </div>
      <div class="input-box">
        <label>Senha</label>
        <input #senha placeholder="senha" type="password">
      </div>

      @if (errorMessage()) {
      <p class="error-msg">
        {{ errorMessage() }}
      </p>
      }

      <button type="button" class="login" (click)="onLogin(email.value, senha.value)">Login</button>

      <div class="register-link">
        <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
      </div>
    </form>
  </main>
</div>